@import "../../variables";

.aboutpage-container {
  background-image: linear-gradient(rgba(241, 251, 255, 0.3),rgba(241, 251, 255, 0.3)), url("../../assets/images/banner.png");
  background-size: contain;
  background-position: center;

  @media (max-width: 992px) {
    background-size: cover;
  }
}

.aboutpage-content {
  color: $site-green;
  font-family: $font-secondary;

  &-heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;

    @media (max-width: 1200) {
      font-size: 4rem;
    }

    @media (max-width: 576px) {
      font-size: 3rem;
    }
  }

  &-desc {
    &-image-container {
      img {
        overflow: hidden;
        border: 2px solid $site-green;
      }
    }

    &-text {
      background-color: rgba(255,255,255, 0.8);
      border-radius: 0.5rem;
      font-size: 1rem;
      font-weight: 200;
      text-align: center;
      padding: 1rem;
      margin-top: 0.5rem;

      @media (max-width: 992px) {
        padding: 1rem 4rem 0 4rem;
      }
    }
  }
}
