@import "../../variables";

.aboutpage-content {
  color: $site-green;
  font-family: $font-secondary;

  &-heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;

    @media (max-width: 576px) {
      font-size: 40px;
    }
  }

  &-desc {
    &-image-container {
      img {
        overflow: hidden;
        border: 2px solid $site-green;
      }
    }

    &-text {
      font-size: 1.25rem;
      font-weight: 200;
      text-align: center;
    }
  }
}
