@import "../../variables";

.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
  background-image: linear-gradient(rgba(241, 251, 255, 0.3),rgba(241, 251, 255, 0.3)), url("../../assets/images/banner.png");
  background-size: contain;
  background-position: center;

  @media (max-width: 576px) {
    background-size: cover;
  }
}

.homepage-content {

  color: $site-green;
  font-family: $font-secondary;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  margin-top: 1rem;

  &-banner-text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 150px;
    word-spacing: 2rem;
    letter-spacing: 1rem;
    margin-bottom: 2rem;
    text-align: center;

    @media (max-width: 576px) {
      font-size: 40px;
      letter-spacing: 0.5rem;
    }
    
    @media (min-width: 576px) and (max-width: 768px) {
      font-size: 70px;
    }
    
    @media (min-width: 768px) and (max-width: 992px) {
      font-size: 100px;
    }
    
    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 120px;
    }
  }

  &-site-desc {
    font-size: 25px;
    padding: 1rem 0 1rem 0;
    background-color: $site-green;
    color: white;
    width: 100%;
    text-align: center;
    font-style: italic;
  }
}
