@import "../../variables";


.approachpage-container {
  background-image: linear-gradient(rgba(241, 251, 255, 0.3),rgba(241, 251, 255, 0.3)), url("../../assets/images/banner.png");
  background-size: contain;
  background-position: center;

  @media (max-width: 992px) {
    background-size: cover;
  }
}

.approachpage-content {
  color: $site-green;
  font-family: $font-secondary;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-y: auto;

  &-heading {
    margin-left: 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;

    @media (max-width: 992px) {
      margin-left: 0;
    }

    @media (max-width: 576px) {
      font-size: 3rem;
    }
  }

  &-desc-text__left, &-desc-text__right {

    background-color: rgba(255,255,255, 0.8);
    border-radius: 0.5rem;
    font-size: 1.25rem;
    padding: 2rem;

    @media (max-width: 992px) {
      text-align: center;
      padding: 1.5rem;
    }

    @media (max-width: 576px) {
      font-size: 1rem;
      padding: 1.5rem 1rem;
      
    }
  }

  &-desc-image-container {

    @media (max-width: 992px) {
      width: 25rem;
      margin-top: 2rem;
    }

    img {
      border-radius: 0.5rem;
    }
  }
}
